<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mis datos personales</title>
</head>
<body>

Nombre: {{nombre}}
Apellido: {{apellido}}
Domicilio: {{domicilio}}
Categoria: {{categoria.nombre}}

</body>
</html>