{{#partial "contenido"}}

<div align="left" >

<h4>Quienes Somos</h4>

<div class="alineacion">
<img src="/img/img11.jpg" style="width:700px;height:500px;">
<p>Somos un grupo de estudiantes de la Universidad Tecnologica Nacional, regional Buenos Aires, que esta cursando la carrera de Ingeniera en Sistemas de Información.
Estamos cursando una de las materias del Tercer Año de la carrera, Diseño de Sistemas, y nos encontramos con la tarea de llevar a cabo este proyecto que consiste en el desarrollo de un Sistema de Gestion Energetica.
Esperamos que esta herramienta pueda ser de utilidad para todas aquellas personas que estan visitando esta pagina buscando una solucion a uno de los problemas de la actualidad:
Como gestionar el consumo de la energia electrica ante los constantes cortes del suministro electrico y el aumento sustancial del valor de la Energia.</p>
</div>
</div>

<div align="left" >
<h4>La problemática Actual</h4>

<p>El verano es la época del año con la mayor demanda energética y, a su vez, con la mayor tasa de cortes de suministro eléctrico.
El 24 de febrero de 2017 se produjo el máximo histórico de consumo en la Ciudad de Buenos Aires: la temperatura fue de 33°C y se 
registraron 79.144 hogares sin luz. 
Debido a la Crisis Energética generada por esta situación, el Gobierno debe recurrir a grandes importaciones de suministro eléctrico 
provenientes de Uruguay y especialmente de Brasil, lo que hace que los precios de la Energia vayan siendo cada vez mas caros.</p>
</div>

<div align="left" >
<h4>La solucion al problema: Eficiencia Energetica</h4>

<p>Una manera de mitigar el problema de los cortes de suministro eléctrico es a través
de la Eficiencia Energetica. 
Esto no significa privaciones ni sacrificios; Saber Gestionar y Usar la energia eficientemente implica el aprovechamiento consciente de la
energía disponible, sin afectar la calidad de vida de las personas.</p>

<p>En el ámbito hogareño, el uso eficiente de la energía permite disminuir el monto de
las facturas sin pérdida de bienestar; pero eso no es todo: también podría mitigar los
eventuales cortes de suministro eléctrico. 
Solo basta con realizar pequeñas modificaciones en nuestros hábitos diarios y tener en cuenta que, a la hora de hacer
una compra o arreglo en el hogar, se debe pensar en la Eficiencia Energética.</p>
</div>

<div align="left" >
<h4>Hacia un Hogar Eficiente</h4>

<p>Según números oficiales, un hogar promedio que no esté preparado para usar la electricidad de manera eficiente, consume a razón de 
un 50 % de kWh mensual más que una casa de las mismas características, pero adaptada en forma eficiente.
Suponiendo un consumo energético equitativo entre los hogares, obtenemos un consumo mensual de 1020,7 kWh por hogar.
Con el fin de mitigar los cortes suministro eléctrico y aprovechar al maximo la energia disponible, se propone una reducción de un 40% de
ese consumo mensual, estableciendo el valor de 612,42 kWh de consumo mensual, como el máximo recomendable para un hogar de CABA 
durante los meses de verano.</p>
</div>

<p>¿Como convertimos nuestro Hogar en un Hogar Eficiente?</p>
<img src="/img/img04.png" style="width:800px;height:500px;">


<div align="left" >
<h4>Sistema de Gestion Energetica</h4>       
<p>Un Sistema de Gestión Energetica (SGE) establece una politica y unos objetivos energeticos con el fin de que el usuario pueda saber
usar y aprovechar al maximo la energia disponible.
El SGE se basa en el ciclo de mejora continua conocido como la rueda de Deming: Planificar-Ejecutar-Verificar-Actuar.</p>

</div>    

<div align="left" >
<p>En particular, este SGE es un sistema inspirado y desarrollado para la Gestión Energética de los Clientes Residenciales. 
El objetivo del mismo es que el usuario logre convertir su hogar en un “hogar eficiente”, a través del uso de datos y algoritmos
que permitan Optimizar el Consumo de los dispositivos del hogar del cliente.
Con el desarrollo y lanzamiento de este sistema queremos brindarle una herramienta que facilite al usuario:</p> 
<p>-La Gestion Eficiente de la Energia en el Hogar.</p>
<p>-El Ahorro del consumo de la Energia en el Hogar.</p>
<p>-La mitigación de los cortes de suministro electrico.</p>
<p>-El cuidado del medioambiente en el que vive.</p>
<p>Esperamos que con esta herramienta podamos ayudar a convertir tu hogar en un Hogar Eficiente.</p>
</div>

<div>
<h4>Equipo de Trabajo</h4>
<p>Juan Göttling</p>
<p>Kevin Odar</p>
<p>Gastón Di Filippo</p>
<p>Mariano Espada</p>
</div>
<div>   
<a href="/inicio"><button type="button" class="btn btn-primary">Volver al Inicio</button></a>
</div>



{{/partial}}

{{>paginaBase.hbs}}
