{{#partial "contenido"}}
<div class="columnas">
    <h1>Hogares</h1>
	<p><a href="/admin/hogares"><button type="button" class="btn btn-secondary">Ver Hogares</button></a></p>

    <h1>Reportes</h1>
	<p><a href="/admin/reportes"><button type="button" class="btn btn-secondary">Ver Reportes</button></a></p>

    <h1>Categorias</h1>
	<p><a href="/admin/categorias"><button type="button" class="btn btn-secondary">Ver Categorias</button></a></p>

    <h1>Caracteristicas</h1>
	<p><a href="/admin/caracteristicas"><button type="button" class="btn btn-secondary">Ver Características de Dispositivos</button></a></p>

</div>
{{/partial}}
{{>paginaBase.hbs}}
