<div id="modalOk" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="tituloModal" class="modal-title text-center">{{header}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">        
        	 <div class="text-center">
			<p>{{mensaje}}</p>
			<script>
			irA("{{destino}}");
			</script>
            </div>
        </div>

        </div>
    </div>
</div>