{{#>modalBase.hbs}}
{{#*inline "modalFooter"}}
            <button type="submit" class="btn btn-primary" onclick="ingresoUsuario()">
                Volver a intentar
            </button>
 {{/inline}}
{{/modalBase.hbs}}